@import "~bootstrap/scss/bootstrap";

// // Required
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// // Optional
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/grid";

body {
  background: pink;
  p {
    font-size: 1.5rem;
    color: blue;
  }
  .page_image_watch {
    background: url('./../images/watch.jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
}